<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	 xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">

	<!-- To update for the next release increment ProductVersion in Version.wxi -->
	<?include ..\Common Files\Version.wxi?>

	<?define ProductName="Tune Archivist"?>
	<?define ShortcutRegistryKey="$(var.BaseRegistryKey)\$(var.TuneArchiver.Platform)\TuneArchivist"?>

	<Product Id="*"
					 Name="$(var.ProductName)"
					 Language="1033"
					 Version="$(var.ProductVersion)"
					 Manufacturer="$(var.Manufacturer)"
					 UpgradeCode="$(var.ProductUpgradeCode)">
		<Package InstallerVersion="300"
						 Platform="$(var.TuneArchiver.Platform)"
						 InstallScope="perMachine"
						 InstallPrivileges="elevated"
						 Compressed="yes" />
		
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed. Setup will now exit."/>

		<PropertyRef Id="NETFRAMEWORK45" />
		<Condition Message="This application requires .NET Framework version 4.7 Please install the .NET Framework and then run this installer again.">
			<![CDATA[Installed OR NETFRAMEWORK45]]>
		</Condition>

		<Media Id="1" Cabinet="ApplicationFiles.cab" EmbedCab="yes" />

		<!-- Folder Locations -->
		<?if $(var.TuneArchiver.Platform) = "x64" ?>
		<?define ProgramFolder="ProgramFiles64Folder"?>
		<?else ?>
		<?define ProgramFolder="ProgramFilesFolder"?>
		<?endif ?>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="$(var.ProgramFolder)">
				<Directory Id="CompanyDirectory" Name="Secret Squirrel Software">
					<Directory Id="CommonDirectory" Name="Noise Music System">
						<Directory Id="INSTALLDIRECTORY" Name="Tune Archivist" />
					</Directory>
				</Directory>
			</Directory>

			<Directory Id="ProgramMenuFolder">
				<Directory Id="CompanyMenuFolder" Name="Secret Squirrel Software">
					<Directory Id="ProductMenuFolder" Name="Noise Music System" />
					<Component Id='NoiseMenuFolder' Guid="9dbbbb37-09b4-4c61-9efc-46063ee0d570">
						<RemoveFolder Id='NoiseMenuFolder' On='uninstall'/>
						<RegistryValue Root="HKCU" Key="$(var.ShortcutRegistryKey)\NoiseMenuFolder" Name="installed" Type="integer" Value="1" KeyPath="yes" />
					</Component>
				</Directory>
			</Directory>

			<Directory Id="CommonAppDataFolder">
				<Directory Id="ProductDataFolder" Name="Secret Squirrel Software">
					<Directory Id="ProductFolder" Name="Noise Music System">
						<Directory Id="ProductConfigFolder" Name="Configuration" />
					</Directory>
				</Directory>
			</Directory>

			<Directory Id="DesktopFolder" Name="Desktop"/>
		</Directory>

		<!-- Installed Files -->
		<DirectoryRef Id="INSTALLDIRECTORY">
			<Component Id="TuneArchiver.exe" Guid="a5010f78-dcea-457b-a757-26c36a78a3af">
				<File Id="TuneArchiver.exe" DiskId="1" Source="$(var.TuneArchiver.TargetPath)" KeyPath="yes" Checksum="yes" />
			</Component>

			<Component Id="TuneArchiver.config" Guid="ca7cbf2c-d6b5-4eec-b9cc-5299b56bd998">
				<File Id="TuneArchiver.config" DiskId="1" Source="$(var.TuneArchiver.TargetDir)TuneArchiver.exe.config" KeyPath="yes" Checksum="yes" />
			</Component>

			<Component Id="Noise.UI.Style.dll" Guid="e3bef22e-7372-425c-8cbe-7eb63fccf3b8">
				<File Id="Noise.UI.Style.dll" DiskId="1" Source="$(var.Noise.UI.Style.TargetDir)Noise.UI.Style.dll" KeyPath="yes" Checksum="yes" />
			</Component>

		</DirectoryRef>

		<!-- Shortcuts -->
		<DirectoryRef Id="ProductMenuFolder">
			<Component Id="ApplicationShortcut" Guid="b1cf5a40-4452-4556-8edb-e760c7338e0d">
				<Shortcut Id="ApplicationStartMenuShortcut" Name="Tune Archivist" Description="Tune Archivist Application" Target="[INSTALLDIRECTORY]TuneArchiver.exe" WorkingDirectory="INSTALLDIRECTORY" />
				<RemoveFolder Id="ApplicationShortcut" On="uninstall" />
				<RegistryValue Root="HKCU" Key="$(var.ShortcutRegistryKey)\ApplicationShortcut" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>

		<DirectoryRef Id="DesktopFolder">
			<Component Id="DesktopShortcut" Guid="2aa33e74-d598-41cc-9cf8-7791c60ed1bb">
				<Shortcut Id="DesktopShortcut" Name="Tune Archivist" Description="Tune Archivist Application" Target="[INSTALLDIRECTORY]TuneArchiver.exe" WorkingDirectory="INSTALLDIRECTORY" />
				<RemoveFolder Id="DesktopShortcut" On="uninstall" />
				<RegistryValue Root="HKCU" Key="$(var.ShortcutRegistryKey)\DesktopShortcut" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>

		<Icon Id="AddRemoveProgramsIcon" SourceFile="$(var.TuneArchiver.ProjectDir)..\Common\Noise.ico" />
		<Property Id="ARPPRODUCTICON" Value="AddRemoveProgramsIcon" />

		<ComponentGroup Id="ApplicationFiles">
			<ComponentRef Id="TuneArchiver.exe" />
			<ComponentRef Id="TuneArchiver.config" />
			<ComponentRef Id="Noise.UI.Style.dll"/>
			<ComponentRef Id="ApplicationShortcut" />
			<ComponentRef Id="DesktopShortcut"/>
			<ComponentRef Id="NoiseMenuFolder" />
		</ComponentGroup>

		<Feature Id="Complete" Title="Tune Archivist Install" Level="1" ConfigurableDirectory="INSTALLDIRECTORY">
			<Feature Id="Application" Title="Tune Archivist Application" Level="1">
				<ComponentGroupRef Id="ApplicationFiles" />
				<ComponentGroupRef Id="CoreFiles"/>
				<ComponentGroupRef Id="CaliburnMicroFiles"/>
				<ComponentGroupRef Id="ConfigurationFiles"/>
				<ComponentGroupRef Id="CuttingEdgeFiles"/>
				<ComponentGroupRef Id="MahAppsMetroFiles"/>
				<ComponentGroupRef Id="MicrosoftFiles"/>
				<ComponentGroupRef Id="NewtonsoftJsonFiles"/>
				<ComponentGroupRef Id="PrismFiles"/>
				<ComponentGroupRef Id="ReclsFiles"/>
				<ComponentGroupRef Id="SeriLogFiles"/>
			</Feature>
		</Feature>

		<Feature Id="UnnecessaryFiles" Title="Unnecessary Files" Level="0">
      <ComponentGroupRef Id="AutomapperFiles"/>
      <ComponentGroupRef Id="BassAudioFiles"/>
      <ComponentGroupRef Id="DotNetZipFiles"/>
      <ComponentGroupRef Id="EntityFrameworkFiles"/>
      <ComponentGroupRef Id="GDataDBFiles"/>
      <ComponentGroupRef Id="GongSolutionsFiles"/>
      <ComponentGroupRef Id="LastFmScrobblerFiles"/>
      <ComponentGroupRef Id="LuceneFiles"/>
      <ComponentGroupRef Id="NLogFiles"/>
      <ComponentGroupRef Id="ObservalFiles"/>
      <ComponentGroupRef Id="RavenDBFiles"/>
      <ComponentGroupRef Id="RefitFiles"/>
      <ComponentGroupRef Id="ReplayGainFiles"/>
      <ComponentGroupRef Id="StatelessFiles"/>
      <ComponentGroupRef Id="TagLibSharpFiles"/>
      <ComponentGroupRef Id="TinyIpcFiles"/>
    </Feature>

		<UIRef Id="InstallUI" />
		
	</Product>
</Wix>
