<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="layoutProvider" type="Composite.Layout.Configuration.LayoutProviderSection, Composite.Layout"/>
		<section name="databaseConfiguration" type="Noise.Infrastructure.Configuration.DatabaseConfiguration, Noise.Infrastructure"  allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		<section name="explorerConfiguration" type="Noise.Infrastructure.Configuration.ExplorerConfiguration, Noise.Infrastructure" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		<section name="storageConfiguration" type="Noise.Infrastructure.Configuration.StorageConfiguration, Noise.Infrastructure" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Noise.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<databaseConfiguration />
	<explorerConfiguration />
	<storageConfiguration />

	<layoutProvider name="XamlLayoutProvider"
   type="Composite.Layout.Configuration.XamlLayoutProvider, Composite.Layout"
   filename="Layouts\LayoutConfiguration.xaml"/>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	
	<userSettings>
		<Noise.Desktop.Properties.Settings>
   <setting name="ApplicationWidth" serializeAs="String">
    <value>640</value>
   </setting>
   <setting name="ApplicationHeight" serializeAs="String">
    <value>480</value>
   </setting>
   <setting name="ApplicationTop" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="ApplicationLeft" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="ApplicationWindowState" serializeAs="String">
    <value>Normal</value>
   </setting>
   <setting name="SmallPlayerTop" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="SmallPlayerLeft" serializeAs="String">
    <value>200</value>
   </setting>
  </Noise.Desktop.Properties.Settings>
	</userSettings>
</configuration>
