<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="layoutProvider" type="Composite.Layout.Configuration.LayoutProviderSection, Composite.Layout" />
    <section name="audioConfiguration" type="Noise.Infrastructure.Configuration.AudioConfiguration, Noise.Infrastructure" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    <section name="cloudSyncConfiguration" type="Noise.Infrastructure.Configuration.CloudSyncConfiguration, Noise.Infrastructure" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    <section name="databaseConfiguration" type="Noise.Infrastructure.Configuration.DatabaseConfiguration, Noise.Infrastructure" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    <section name="explorerConfiguration" type="Noise.Infrastructure.Configuration.ExplorerConfiguration, Noise.Infrastructure" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    <section name="storageConfiguration" type="Noise.Infrastructure.Configuration.StorageConfiguration, Noise.Infrastructure" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    <section name="serverConfiguration" type="Noise.Infrastructure.Configuration.ServerConfiguration, Noise.Infrastructure" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Noise.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="FeatureToggle.EntityDatabaseEnabled" value="false" />
  </appSettings>
  <audioConfiguration />
  <databaseConfiguration />
  <explorerConfiguration />
  <storageConfiguration />
  <serverConfiguration />
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Messages="Noise.Service.Infrastructure" Endpoint="Noise.LibraryUpdate.Queue" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <MsmqTransportConfig InputQueue="Noise.Client.Queue" ErrorQueue="Noise.Error.Queue" NumberOfWorkerThreads="1" MaxRetries="5" />
  <system.serviceModel>
    <client>
      <endpoint name="Noise.ServiceImpl.LibraryUpdate.LibraryUpdateService" address="net.tcp://localhost:6502/LibraryUpdateService" binding="netTcpBinding" bindingConfiguration="" contract="Noise.Service.Infrastructure.ServiceContracts.ILibraryUpdateService" />
      <!--
      <endpoint name="LibraryUpdateService"
                address="msmq.formatname:DIRECT=OS:.\private$\Noise.LibraryUpdate.Control"
                binding="msmqIntegrationBinding" bindingConfiguration="Noise.LibraryUpdate.Binding"
                contract="Noise.Service.Infrastructure.ServiceContracts.ILibraryUpdateService" /> -->
    </client>
    <bindings>
      <msmqIntegrationBinding>
        <binding name="Noise.LibraryUpdate.Binding">
          <security mode="None" />
        </binding>
      </msmqIntegrationBinding>
    </bindings>
  </system.serviceModel>
  <layoutProvider name="XamlLayoutProvider" type="Composite.Layout.Configuration.XamlLayoutProvider, Composite.Layout" filename="Layouts\LayoutConfiguration.xaml" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <Noise.Desktop.Properties.Settings>
      <setting name="ApplicationWidth" serializeAs="String">
        <value>640</value>
      </setting>
      <setting name="ApplicationHeight" serializeAs="String">
        <value>480</value>
      </setting>
      <setting name="ApplicationTop" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ApplicationLeft" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ApplicationWindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="SmallPlayerTop" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="SmallPlayerLeft" serializeAs="String">
        <value>200</value>
      </setting>
    </Noise.Desktop.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Prism" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>