<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="layoutProvider" type="Composite.Layout.Configuration.LayoutProviderSection, Composite.Layout"/>
  </configSections>
  
  <layoutProvider name="XamlLayoutProvider"
           type="Composite.Layout.Configuration.XamlLayoutProvider, Composite.Layout"
           filename="Layouts\LayoutConfiguration.xaml"/>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
