<?xml version="1.0"?>
<Eloquera xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <Cache IndexCacheSize="1000" 
           IndexCleanerPeriod="100" 
           IndexCleanerBatchSize="100" 
           CleanerPeriod="100" 
           CleanerBatchSize="2000" 
           CommitSequenceMaxLength="2000" 
           ShallowReadThreshold="1000" 
           ShallowReadAhead="1000" 
           ReadAhead="20" 
           SaturationThreshold="10000" 
           MemoryFootPrint="1000"/>
    <MemoryManager Mode="1" />
    <Server ServerPort="43962" 
            DatabasePath="c:\dev\db" 
            Trace="true" 
            InMemoryAllowed="true"
            Secure="true" 
            AllowUsers="" 
            AllowGroups="Everyone" />
    <SmartRuntime Smart="true" />
</Eloquera>
