<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="databaseConfiguration" type="Noise.Infrastructure.Configuration.DatabaseConfiguration, Noise.Infrastructure" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    <section name="explorerConfiguration" type="Noise.Infrastructure.Configuration.ExplorerConfiguration, Noise.Infrastructure" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    <section name="storageConfiguration" type="Noise.Infrastructure.Configuration.StorageConfiguration, Noise.Infrastructure" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
  </configSections>
  <databaseConfiguration />
  <explorerConfiguration />
  <storageConfiguration />
  <MsmqTransportConfig InputQueue="Noise.LibraryUpdate.Queue" ErrorQueue="Noise.Error.Queue" NumberOfWorkerThreads="1" MaxRetries="5" />
  <system.serviceModel>
    <services>
      <service name="Noise.ServiceImpl.LibraryUpdate.LibraryUpdateService">
        <endpoint name="Noise.ServiceImpl.LibraryUpdate.LibraryUpdateService" address="net.tcp://localhost:6502/LibraryUpdateService" binding="netTcpBinding" bindingConfiguration="" contract="Noise.Service.Infrastructure.ServiceContracts.ILibraryUpdateService" />
      </service>
    </services>
  </system.serviceModel>
  <!--
  <system.serviceModel>
    <services>
      <service name="Noise.ServiceImpl.LibraryUpdate.LibraryUpdateService">
        <endpoint address="msmq.formatname:DIRECT=OS:.\private$\Noise.LibraryUpdate.Control"
							    binding="msmqIntegrationBinding" bindingConfiguration="Noise.LibraryUpdate.Binding"
                  contract="Noise.Service.Infrastructure.ServiceContracts.ILibraryUpdateService"/>
      </service>
    </services>

    <bindings>
      <msmqIntegrationBinding>
        <binding name="Noise.LibraryUpdate.Binding">
          <security mode="None" />
        </binding>
      </msmqIntegrationBinding>
    </bindings>
  </system.serviceModel>
-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.414.0" newVersion="2.0.414.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Prism" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>