<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="databaseConfiguration" type="Noise.Infrastructure.Configuration.DatabaseConfiguration, Noise.Infrastructure"  allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    <section name="explorerConfiguration" type="Noise.Infrastructure.Configuration.ExplorerConfiguration, Noise.Infrastructure" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    <section name="storageConfiguration" type="Noise.Infrastructure.Configuration.StorageConfiguration, Noise.Infrastructure" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </configSections>

  <databaseConfiguration />
  <explorerConfiguration />
  <storageConfiguration />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
