<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define BaseRegistryKey="Software\Secret Squirrel Software"?>

  <Product Id="ad409786-0ecf-40ed-8f9d-74cda890fc9a"
					 Name="Noise Library Update Service Install"
					 Language="1033"
					 Version="0.5.0.0"
					 Manufacturer="Secret Squirrel Software"
           UpgradeCode="cc3fcf2c-d3e6-4dba-a2d8-670dfee4e42b">
    <Package InstallerVersion="200"
             Platform="$(var.Noise.Service.Platform)"
             InstallScope="perMachine"
             InstallPrivileges="elevated"
             Compressed="yes" />

    <PropertyRef Id="NETFRAMEWORK40FULL" />
    <Condition Message="This application requires .NET Framework 4.0 Extended. Please install the .NET Framework and then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK40FULL]]>
    </Condition>

    <Media Id="1" Cabinet="ApplicationFiles.cab" EmbedCab="yes" />

    <!-- Folder Locations -->
    <?if $(var.Noise.Service.Platform) = "x64" ?>
    <?define ProgramFolder="ProgramFiles64Folder"?>
    <?else ?>
    <?define ProgramFolder="ProgramFilesFolder"?>
    <?endif ?>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.ProgramFolder)">
        <Directory Id="CompanyDirectory" Name="Secret Squirrel Software">
          <Directory Id="CommonDirectory" Name="Noise Music System">
            <Directory Id="INSTALLDIRECTORY" Name="Library Update Service"/>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <!-- Installed Files -->
    <DirectoryRef Id="INSTALLDIRECTORY">
      <Component Id="Noise.Service.exe" Guid="68b09635-9f5d-4c09-b848-44d7da36cdc5">
        <File Id="Noise.Service.exe" DiskId="1" Source="$(var.Noise.Service.TargetPath)" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="Noise.Service.config" Guid="3082da87-30db-46c5-8ded-a381326d71b8">
        <File Id="Noise.Service.config" DiskId="1" Source="$(var.Noise.Service.TargetDir)Noise.Service.exe.config" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="Noise.ServiceImpl.dll" Guid="3240d15a-f33d-4dd3-93e2-085fef545908">
        <File Id="Noise.ServiceImpl.dll" DiskId="1" Source="$(var.Noise.ServiceImpl.TargetDir)Noise.ServiceImpl.dll" KeyPath="yes" Checksum="yes" />
      </Component>
    </DirectoryRef>

    <Icon Id="AddRemoveProgramsIcon" SourceFile="$(var.Noise.Service.ProjectDir)..\Common\Noise.ico" />
    <Property Id="ARPPRODUCTICON" Value="AddRemoveProgramsIcon" />

    <ComponentGroup Id="ApplicationFiles">
      <ComponentRef Id="Noise.Service.exe" />
      <ComponentRef Id="Noise.Service.config" />
      <ComponentRef Id="Noise.ServiceImpl.dll"/>
    </ComponentGroup>

    <Feature Id="Complete" Title="Noise Library Service Install" Level="1" ConfigurableDirectory="INSTALLDIRECTORY">
      <Feature Id="Application" Title="Noise Library Update Service" Level="1">
        <ComponentGroupRef Id="ApplicationFiles" />
        <ComponentGroupRef Id="CoreFiles"/>
        <ComponentGroupRef Id="AutomapperFiles"/>
        <ComponentGroupRef Id="CuttingEdgeFiles"/>
        <ComponentGroupRef Id="EloqueraFiles"/>
        <ComponentGroupRef Id="HammockFiles"/>
        <ComponentGroupRef Id="LuceneFiles"/>
        <ComponentGroupRef Id="MicrosoftFiles"/>
        <ComponentGroupRef Id="NLogFiles"/>
        <ComponentGroupRef Id="NServiceBusFiles"/>
        <ComponentGroupRef Id="ObservalFiles"/>
        <ComponentGroupRef Id="PrismFiles"/>
        <ComponentGroupRef Id="QuartzFiles"/>
        <ComponentGroupRef Id="ReclsFiles"/>
        <ComponentGroupRef Id="TagLibSharpFiles"/>
      </Feature>
      
      <Feature Id="UnnecessaryFiles" Title="Unnecessary Files" Level="0">
        <ComponentGroupRef Id="AvalonControlsFiles"/>
        <ComponentGroupRef Id="BassAudioFiles"/>
      </Feature>
    </Feature>

    <UIRef Id="InstallUI" />

  </Product>
</Wix>
