<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  
  <?include ..\Common Files\Version.wxi?>
  
  <Bundle Name="The Noise Music System"
          Version="$(var.ProductVersion)"
          UpgradeCode="$(var.ProductUpgradeCode)"
          Manufacturer="$(var.Manufacturer)"
          Copyright="$(var.Copyright)"
          IconSourceFile="..\..\Common\Noise.ico"
          AboutUrl="$(var.CompanyUrl)"
          >
    <BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost">
      <PayloadGroupRef Id ="BundlerPayload" />
    </BootstrapperApplicationRef>

    <Variable Name="InstallFolder" Type="string" Value="[ProgramFilesFolder]Secret Squirrel Software\Noise Music System\Noise Desktop" />

    <Chain>
      <!-- Install .Net 4.5 -->
      <PackageGroupRef Id="NetFx45Web" />

      <PackageGroupRef Id="InstallerPackages" />
    </Chain>
  </Bundle>

  <Fragment>
    <PayloadGroup Id ="BundlerPayload">
      <Payload SourceFile="$(var.BundlerUi.TargetPath)"/>
      <Payload SourceFile="$(var.BundlerUi.TargetDir)BootstrapperCore.config" />
      <Payload SourceFile="$(var.BundlerUi.TargetDir)ReusableBits.Ui.dll" />
    </PayloadGroup>
  </Fragment>

  <Fragment>
    <util:RegistrySearch Variable="Eloquera64Installed" Win64="yes" Root="HKLM" Key="SOFTWARE\Eloquera 4.0" Value="DatabasePath" Result="exists"/>
    <util:RegistrySearch Variable="EloqueraInstalled" Win64="no" Root="HKLM" Key="SOFTWARE\Eloquera 4.0" Value="DatabasePath" Result="exists"/>

    <PackageGroup Id="InstallerPackages" >
      
      <?if $(var.Platform) = "x64" ?>
      <MsiPackage Id="Bonjour" DisplayName="Apple Bonjour" DisplayInternalUI="no" Visible="yes" SourceFile="..\Prerequisites\Bonjour v2.0.2.0\Bonjour64.msi"/>
      <ExePackage Id="Eloquera" Vital="yes" DetectCondition="Eloquera64Installed" UninstallCommand="/x /s" RepairCommand="/f"
                  SourceFile="..\Prerequisites\Eloquera v4.13\EloqueraDatabase_4_13_net40_x64.exe"/>
      <?else ?>
      <MsiPackage Id="Bonjour" DisplayName="Apple Bonjour" DisplayInternalUI="no" Visible="yes" SourceFile="..\Prerequisites\Bonjour v2.0.2.0\Bonjour.msi"/>
      <ExePackage Id="Eloquera" Vital="yes" DetectCondition="EloqueraInstalled" UninstallCommand="/x /s" RepairCommand="/f"
                  SourceFile="..\Prerequisites\Eloquera v4.13\EloqueraDatabase_4_13_net40_x32.exe"/>
      <?endif ?>

      <MsiPackage Id="NoisePackage" DisplayInternalUI="yes" Vital="yes" Visible="no" SourceFile="$(var.Install - Desktop.TargetPath)"/>

    </PackageGroup>
  </Fragment>

</Wix>