<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<Media Id="10" Cabinet="CommonFiles.cab" EmbedCab="yes" />

		<?include Noise.Core.wxi ?>
		<?include Automapper.wxi ?>
		<?include BASS Audio.wxi ?>
		<?include CaliburnMicro.wxi ?>
		<?include CuttingEdge.wxi ?>
		<?include Eloquera.wxi ?>
		<?include EntityFramework.wxi ?>
		<?include GDataDB.wxi ?>
		<?include GongSolutions.wxi ?>
		<?include LastFmSharp.wxi ?>
		<?include Lucene.wxi ?>
		<?include MahApps.wxi?>
		<?include Microsoft.wxi ?>
		<?include NewtonsoftJson.wxi ?>
		<?include NLog.wxi ?>
		<?include Observal.wxi ?>
		<?include Prism.wxi ?>
		<?include RavenDB.wxi ?>
		<?include recls.wxi ?>
		<?include ReplayGain.wxi ?>
		<?include Stateless.wxi ?>
		<?include TagLibSharp.wxi ?>
	</Fragment>
</Wix>
