<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="AsyncLog" xsi:type="AsyncWrapper">
        <target name="File" xsi:type="File" fileName="${specialfolder:folder=CommonApplicationData}/Secret Squirrel Software/Noise Music System/Logs/raven.log"  layout="${longdate} - ${level} - ${message}"/>
    </target>
  </targets>

  <rules>
    <logger name="Raven.*" minlevel="Info" writeTo="AsyncLog" final="true"/>
  </rules>
</nlog>
