<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="File" name="FileLogger" fileName="${specialfolder:folder=CommonApplicationData}/Secret Squirrel Software/Noise Music System/noise.log" layout="${longdate} - ${level} - ${message}"/>

    <target name="ErrorMesgLogger" xsi:type="FilteringWrapper"
            condition="length('${message}') > 0">
      <target name="ErrorMesgLogger" xsi:type="File" fileName="${specialfolder:folder=CommonApplicationData}/Secret Squirrel Software/Noise Music System/noise.log" layout="${longdate} - ${message} - ${exception}"/>
    </target>
    
    <target name="ErrorLogger" xsi:type="FilteringWrapper"
            condition="length('${message}') == 0">
      <target name="ErrorLogger" xsi:type="File" fileName="${specialfolder:folder=CommonApplicationData}/Secret Squirrel Software/Noise Music System/noise.log" layout="${longdate} - ${exception}"/>
    </target>

    <target name="AsyncLog" xsi:type="AsyncWrapper">
        <target name="File" xsi:type="File" fileName="${specialfolder:folder=CommonApplicationData}/Secret Squirrel Software/Noise Music System/raven.log"  layout="${longdate} - ${level} - ${message}"/>
    </target>
  </targets>

  <rules>
    <logger name="Raven.*" minlevel="Info" writeTo="AsyncLog" final="true"/>
    <!-- <logger name="*" level="Debug" writeTo="FileLogger"/> -->
    <logger name="*" level="Info" writeTo="FileLogger"/>
    <logger name="*" level="Error" writeTo="ErrorLogger,ErrorMesgLogger"/>
  </rules>
</nlog>
