html, body {
    font-family: 'Segoe UI', sans-serif;
	font-size: 12pt;
	color: white;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

a:link {
	color: antiquewhite;
	text-decoration: none;
}
a:visited {
	color: antiquewhite;
	text-decoration: none;
}
a:hover {
	color: antiquewhite;
	text-decoration: underline;
}
a:active {
	color: antiquewhite;
	text-decoration: underline;
}

body {
	background: rgb(37, 37, 37);
}

div.imageCreditParent {
	display:flex; 
	align-items:center;
}
div.imageCreditParent div.imageDescription {
	margin-left: 10px;
}
