<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define BaseRegistryKey="Software\Secret Squirrel Software"?>
  <?define ShortcutRegistryKey="$(var.BaseRegistryKey)\$(var.Noise.Desktop.Platform)\NoiseDesktop"?>
  
  <Product Id="0ef02795-7dc0-4cd4-8a50-c5346be3e026"
					 Name="Noise Desktop Install"
					 Language="1033"
					 Version="0.5.0.0"
					 Manufacturer="Secret Squirrel Software"
					 UpgradeCode="479ef42d-6d35-4dc5-8531-beb5883f54f2">
		<Package InstallerVersion="200" 
             Platform="$(var.Noise.Desktop.Platform)"
             InstallScope="perMachine"
             InstallPrivileges="elevated"
             Compressed="yes" />

		<PropertyRef Id="NETFRAMEWORK40FULL" />
		<Condition Message="This application requires .NET Framework 4.0 Extended. Please install the .NET Framework and then run this installer again.">
			<![CDATA[Installed OR NETFRAMEWORK40FULL]]>
		</Condition>
		
		<Media Id="1" Cabinet="ApplicationFiles.cab" EmbedCab="yes" />
		
    <!-- Folder Locations -->
		<?if $(var.Noise.Desktop.Platform) = "x64" ?>
		<?define ProgramFolder="ProgramFiles64Folder"?>
		<?else ?>
		<?define ProgramFolder="ProgramFilesFolder"?>
		<?endif ?>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="$(var.ProgramFolder)">
				<Directory Id="CompanyDirectory" Name="Secret Squirrel Software">
          <Directory Id="CommonDirectory" Name="Noise Music System">
            <Directory Id="INSTALLDIRECTORY" Name="Noise Desktop" />
          </Directory>
				</Directory>
			</Directory>

			<Directory Id="ProgramMenuFolder">
				<Directory Id="CompanyMenuFolder" Name="Secret Squirrel Software">
					<Directory Id="ProductMenuFolder" Name="Noise Music System" />
					<Component Id='NoiseMenuFolder' Guid="9be688f6-1b67-4208-b379-68c1cb611e32">
						<RemoveFolder Id='NoiseMenuFolder' On='uninstall'/>
						<RegistryValue Root="HKCU" Key="$(var.ShortcutRegistryKey)\NoiseMenuFolder" Name="installed" Type="integer" Value="1" KeyPath="yes" />
					</Component>
				</Directory>
			</Directory>

			<Directory Id="DesktopFolder" Name="Desktop"/>
		</Directory>
    
    <!-- Installed Files -->
    <DirectoryRef Id="INSTALLDIRECTORY">
      <Component Id="Noise.Desktop.exe" Guid="df0e902d-7c40-4518-b7fb-1c9059a94713">
        <File Id="Noise.Desktop.exe" DiskId="1" Source="$(var.Noise.Desktop.TargetPath)" KeyPath="yes" Checksum="yes" />
      </Component>

      <Component Id="Noise.Desktop.config" Guid="49b5433a-a532-4d5c-86b9-632f60befe01">
        <File Id="Noise.Desktop.config" DiskId="1" Source="$(var.Noise.Desktop.TargetDir)Noise.Desktop.exe.config" KeyPath="yes" Checksum="yes" />
      </Component>

      <Component Id="Noise.UI.Style.dll" Guid="3c616b69-2034-4242-af37-71de5b4bd13b">
        <File Id="Noise.UI.Style.dll" DiskId="1" Source="$(var.Noise.UI.Style.TargetDir)Noise.UI.Style.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      
      <!-- Screen Layouts -->
      <Directory Id="UiLayoutConfig" Name="Layouts">
        <Component Id="LayoutConfiguration.xaml" Guid="a75c8e62-b6da-4115-b3b7-c5c4c157f0d8">
          <File Id="LayoutConfiguration.xaml" DiskId="1" Source="$(var.Noise.Desktop.ProjectDir)\Layouts\LayoutConfiguration.xaml" KeyPath="yes" Checksum="yes" />
        </Component>
        <Component Id="ExploreLayout.xaml" Guid="7d7c0259-f984-4bb5-b226-ae2fee70a89d">
          <File Id="ExploreLayout.xaml" DiskId="1" Source="$(var.Noise.Desktop.ProjectDir)\Layouts\ExploreLayout.xaml" KeyPath="yes" Checksum="yes" />
        </Component>
        <Component Id="ListenLayout.xaml" Guid="990f43b1-8c77-4212-ab4d-bf8e106deeb4">
          <File Id="ListenLayout.xaml" DiskId="1" Source="$(var.Noise.Desktop.ProjectDir)\Layouts\ListenLayout.xaml" KeyPath="yes" Checksum="yes" />
        </Component>
      </Directory>
    </DirectoryRef>

    <!-- Shortcuts -->
    <DirectoryRef Id="ProductMenuFolder">
      <Component Id="ApplicationShortcut" Guid="d18cbb35-ec2b-455d-999b-3959a2ab8305">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="Noise" Description="Noise Desktop Application" Target="[INSTALLDIRECTORY]Noise.Desktop.exe" WorkingDirectory="INSTALLDIRECTORY" />
        <RemoveFolder Id="ApplicationShortcut" On="uninstall" />
        <RegistryValue Root="HKCU" Key="$(var.ShortcutRegistryKey)\ApplicationShortcut" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="3645e7ce-d910-40fe-8ba9-ed1b8592a341">
        <Shortcut Id="DesktopShortcut" Name="Noise" Description="Noise Desktop Application" Target="[INSTALLDIRECTORY]Noise.Desktop.exe" WorkingDirectory="INSTALLDIRECTORY" />
        <RemoveFolder Id="DesktopShortcut" On="uninstall" />
        <RegistryValue Root="HKCU" Key="$(var.ShortcutRegistryKey)\DesktopShortcut" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Icon Id="AddRemoveProgramsIcon" SourceFile="$(var.Noise.Desktop.ProjectDir)..\Common\Noise.ico" />
    <Property Id="ARPPRODUCTICON" Value="AddRemoveProgramsIcon" />
    
    <ComponentGroup Id="ApplicationFiles">
      <ComponentRef Id="Noise.Desktop.exe" />
      <ComponentRef Id="Noise.Desktop.config" />
      <ComponentRef Id="Noise.UI.Style.dll"/>
      <ComponentRef Id="LayoutConfiguration.xaml"/>
      <ComponentRef Id="ExploreLayout.xaml"/>
      <ComponentRef Id="ListenLayout.xaml"/>
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="DesktopShortcut"/>
      <ComponentRef Id="NoiseMenuFolder" />
    </ComponentGroup>
    
    <Feature Id="Complete" Title="Noise Desktop Install" Level="1" ConfigurableDirectory="INSTALLDIRECTORY">
      <Feature Id="Application" Title="Noise Desktop Application" Level="1">
        <ComponentGroupRef Id="ApplicationFiles" />
        <ComponentGroupRef Id="CoreFiles"/>
        <ComponentGroupRef Id="AutomapperFiles"/>
        <ComponentGroupRef Id="AvalonControlsFiles"/>
        <ComponentGroupRef Id="BassAudioFiles"/>
        <ComponentGroupRef Id="CuttingEdgeFiles"/>
        <ComponentGroupRef Id="EloqueraFiles"/>
        <ComponentGroupRef Id="GDataDBFiles"/>
        <ComponentGroupRef Id="GoogleSearchFiles"/>
        <ComponentGroupRef Id="HammockFiles"/>
        <ComponentGroupRef Id="LuceneFiles"/>
        <ComponentGroupRef Id="MicrosoftFiles"/>
        <ComponentGroupRef Id="NLogFiles"/>
        <ComponentGroupRef Id="NServiceBusFiles"/>
        <ComponentGroupRef Id="ObservalFiles"/>
        <ComponentGroupRef Id="PrismFiles"/>
        <ComponentGroupRef Id="QuartzFiles"/>
        <ComponentGroupRef Id="ReclsFiles"/>
        <ComponentGroupRef Id="StatelessFiles"/>
        <ComponentGroupRef Id="TagLibSharpFiles"/>
      </Feature>
    </Feature>
    
    <UIRef Id="InstallUI" />

  </Product>
</Wix>
